/* DESCTOP */
.section {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  background-image: url("./map.jpg");
}
.section.authorized {
  flex: 1 1 100%;
  justify-content: normal;
}

/* TABLET */
@media (max-width: 768px) {
  .section.authorized {
    min-height: 90vh;
    padding: 1rem;
  }
}

/* PHONE */
@media (max-width: 420px) {
  .section {
    flex: 0 0 auto;
    min-height: 90vh;
    padding: 1rem;
  }
  .section.authorized {
    flex: 0 0 auto;
    min-height: 90vh;
    padding: 1rem;
  }
}
