body{
  min-height: 100vh;
}
/* DESKTOP */
.App {
  display: flex;
  text-align: center;
  min-height: 100vh;
}
.App.authorized {
  display: flex;
  flex-direction: column;
}

/* TABLET */
@media (max-width: 768px) {
  .App.authorized {
    flex-direction: column;
  }
}

/* PHONE */
@media (max-width: 420px) {
  .App {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 280px) {
}
